<h1>Top Channels</h1>

<h3>Search by Name:</h3>
<%= form_tag(channels_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %>

<div class="container3">
        <ul>
          <%@channels.each do |channel|%>
          <li>
            <%=link_to channel.name, channel_path(channel)%>
          </li>
          <% end %>
        </ul>
</div>
