<div class="center jumbotron">
  <h1>Welcome to OUR.TWITCH</h1>

  <h2>

  </h2>
  <%if false%>
  <%= link_to "Login", '/login', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
  <%end %>
</div>