<div class="center jumbotron">
  <h1>Welcome to OUR.TWITCH</h1>
  <%=image_tag("boringmouselogo.svg", alt: "Mouse ")%>

  <p>Where dreams become reality.</p>

  <%if false%>
  <%= link_to "Login", '/login', class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %>
  <%end %>
</div>
