<h1>Top Games</h1>

<h4>Search by Name:</h4>
<%= form_tag(games_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag ("Search") %>
<% end %> 

<ul>
<%@games.each do |game|%>
<li>
<%=link_to game.name, game_path(game)%>
</li>
<% end %>
</ul>
