<body class="container about"> </body>

<h1>About us</h1>

<p>This page project is ripped off twitch and creating models that use it</p>
<p>The only user function that this program has is to log in and out and subscribe</p>