/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
    font-family: 'Playlines';
    src: url('Playlines.woff') format('woff'),
      url('Playlines.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
.navbar-inverse {
  color: #6d2ca9;
  background-color: #6d2ca9;
}

.jumbotron {
  margin-top: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}

div.below-header > ul > a {
  color: #fff;
}

div.below-header > ul > a:hover {
  color: #ccc;
  background-color: transparent;
}

.text-input-box {
  margin: 10px;
}

form#new_user.new_user, form.login, form.edit_user {
  padding: 20px;
  text-align: center;
  width: 30%;
  margin: auto;
  background-color: #f1f1f1;
  border-radius: 6px;
}

label {
  font-size: 18px;
  font-weight: bolder;
}

.flash-msg {
  margin: auto;
  padding: 20px;
  text-align: center;
}
