// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container3 {
    width: 90%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
<<<<<<< HEAD
    /*border-radius: 20px;*/
=======

>>>>>>> Kevin
}

.container3 ul{
    padding: 0;
    margin: 0;
}


.container3 ul li{
    float:left;
    list-style: none;
    width:20%;
    height:100%;
    background: white;
    margin :20px 20px 20px 20px;
<<<<<<< HEAD
    /*border:2px solid black;*/
    box-sizing: border-box;
    /*border-radius: 10px;*/
=======


>>>>>>> Kevin
}
.container3 ul li:hover{
    opacity: 0.8;
    cursor: pointer;
}

.container3 ul li .bottom{
    width: 100%;
    height: 100%;
    line-height: 30px;
    background: white;
    text-align: center;
    color:white;
    font-size: 15px;
<<<<<<< HEAD
    /*border-radius: 8px;*/
=======

>>>>>>> Kevin


}

@media screen and (max-width:1250px){
    .container3 ul li{
        width:40%;
        margin-left: 40px;

    }
}

.channel-box-art {
  width: 100%;
  height: 100%;
<<<<<<< HEAD
  /*border-radius: 0 0 17px 17px;*/
=======

>>>>>>> Kevin
}
